/* --mindaro: #d9ed92ff;
--light-green: #b5e48cff;
--light-green-2: #99d98cff;
--emerald: #76c893ff;
--keppel: #52b69aff;
--verdigris: #34a0a4ff;
--bondi-blue: #168aadff;
--cerulean: #1a759fff;
--lapis-lazuli: #1e6091ff;
--indigo-dye: #184e77ff; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: JetBrains mono;
  }
  
  .pageHeader {
    position: fixed;
    z-index: 10;
    display: flex;
    background-color: #52b69aff;
    color: white;
    padding: 1.5vh 195vh 1.5vh 1.5vh;
    margin: 1.5vh;
    border-radius: 2vh;
  }
  .headerBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 12vh;
    z-index: 9;
    background: rgba(255, 255, 255, 1);
    backdrop-filter: blur(1vh);
  }
  
  .container {
    margin-top: 11vh;
    display: flex;
    flex-direction: column;
    font-family: JetBrains mono;
  }
  
  .blogPreview {
    padding: 2vh;
    display: flex;
    flex-direction: row;
    width: 160vh;
  }

  img{
    height: 30vh;
    margin: 0 2vh 0 0;
  }

  .blogTitle{
    font-size: 4vh;
  }
  
  .blogBody{
      display: flex;
  }

  .titleAndContent{
    display: flex;
    flex-direction: column;
  }
  
  .blogContent {
    width: 80%; 
    height: 15vh; 
    overflow: hidden; 
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;
    white-space: normal;
  }
  
  .blogWrite{
    justify-content: center;
    font-family: JetBrains mono;
    position: fixed;
    z-index: 1;
    margin: 12vh 2vh 0vh 160vh;
    padding: 1vh;
    background-color: #99d98cff;
    border-radius: 1vh;
  }
  
  .name,.title,.content{
    padding: 1vh;
    margin: 1vh;
    border-radius: 1vh;
    outline: none;
    border-style: none;
    width: 53vh;
    font-size: 2.5vh;
  }
  
  .content{
    height: 63vh;
    resize: none;
  }
  
  img{
    border-radius: 1vh;
  }
  
  .submitBlog{
    width: 100%;
    border-radius: 1vh;
    border-style: none;
    background-color: #99d98cff;
    color: white;
    padding: 1vh;
    margin: 0.3vh 0 0 0 ;
    cursor: pointer;
  }

  .readMore{
    height: 10vh;
    width: 20vh; 
    padding: 1vh 7vh;
    margin: 10vh 0 0 0;
    border-radius: 1vh;
    color: white;
    border-style: none;
    background-color: #99d98cff; 
    flex-shrink: 0;  
  }